<link href="//asserts.xcarimg.com/resource/common/header/aikahao_header.css?v=201903282100" rel="stylesheet"
  type="text/css" />

<!--header-->

<!-- login-->

<div class="Header_bg" id="totop">

  <div class="Header"> <a href="http://www.xcar.com.cn/" target="_blank" title="爱卡汽车" class="Hlogo"></a>


    <!-- 论坛导航部分开始 -->
    <div class="mbbs menubox fr" rel="xheaderbbsnavBox">

      <div class="menutb">找论坛</div>

      <div class="mbbs_show" id="xheaderbbsNav">

        <iframe scrolling="no" frameborder="0" style="width: 822px;" class="nav_daohang" id="daohang" name="daohang"
          marginheight="0" marginwidth="0" border="0" target="_blank" height="552px"></iframe>

      </div>

    </div>
    <!-- 论坛导航部分结束 -->

    <div class="mmp menubox fr">

      <div class="menutb"> <span class="iphone">下载App</span> </div>

      <div class="mmp_show"> <a href="//app.xcar.com.cn/wap.htm" target="_blank" class="wap">触屏版</a> <a
          href="//app.xcar.com.cn/xcar.htm" target="_blank" class="xcar">爱卡汽车</a> <a
          href="//app.xcar.com.cn/carfinder.htm" target="_blank" class="carfinder">爱买车</a><span
          class="weixin">爱卡微信<i></i></span> </div>

    </div>



    <div id="xheaderMessage" class="menubox fr"></div>
    <!-- 车市导航部分开始 -->

    <div class="mcs menubox fl" rel="xheaderchishi">

      <div class="menutb" id="xHeaderIplocation"><a href="//bj.xcar.com.cn/" target="_blank">北京车市</a></div>

      <div class="mcs_show" id="xheadcsdaohang">

        <iframe scrolling="no" frameborder="0" height="171px" style="width: 702px;" id="csdaohang" name="csdaohang"
          marginheight="0" marginwidth="0" border="0" target="_blank"></iframe>

      </div>

    </div>

    <!-- 车市导航部分结束 -->



    <div id="xloginBtn" style="display:none;float:right;height:30px;"></div>



    <div id="xlogininfo" class="muser menubox fr" style=""></div>

  </div>

</div>

<!-- login end -->




<script src="//asserts.xcarimg.com/resource/common/jquery-1.8.3.min.js"></script>
