body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  margin: 0;
  padding: 0;
  border:0;
}
body{
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color:#444;
  background:#e6eaf0;
  overflow-x: hidden;
}
/* #app{
  height: 100%;
} */
html,body{height: 100%;}
ol,ul li{list-style-type:none;}
em,i,cite{font-style:normal;}
fieldset,img{border:none; vertical-align:middle;}
a{color:#444;text-decoration:none;}
a:hover{ text-decoration:none; color: #3498db;}
.clear{clear:both;}
.clearfix:after{clear:both; visibility:hidden;content:"";display:block;font-size:0;height:0;}
* html .clearfix{height:1%}
input[type="text"], input[type="password"], textarea {
  outline-style: none;
  -webkit-appearance: none;
}
select,
input,
textarea {vertical-align: middle;outline: none;resize: none;}
::-ms-clear { display: none; }
